<div>Written by: <strong><%= @post.user.email %></strong></div>

<section class="mt-4">
  <div>
    <h3><%= @post.title %></h3>
  </div>
  <div>
    <p><%= @post.body %><p>
  </div>
  <button type="button" class="btn btn-primary text-white mt-4"><%= link_to 'Back to Posts', posts_path, :class => 'text-white' %></button>
</section>